.container {
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #9ca3af;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.name {
  display: flex;
  align-items: center;
}

.category {
  margin-left: 0.5rem;
  color: #9ca3af;
}

.panel {
  &Container {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
  }

  &Expand {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #d1d5db;
    transition-duration: 300ms;
    cursor: pointer;

    &:hover {
      color: #6b7280;
    }
  }

  &Delete {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #d1d5db;
    transition-duration: 300ms;
    cursor: pointer;

    &:hover {
      color: #ef4444;
    }
  }
}

.message {
  margin-top: 0.5rem;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6b7280;

  p {
    white-space: pre-wrap;
  }
}
