@import "../../styles/variables.scss";

.container {
  margin: 0 auto;
  padding: 8rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: $lg) {
    padding: 8rem 0rem;
  }
}

.title {
  font-weight: 700;
  font-size: $text-3xl;
  margin-bottom: 6rem;

  @media (min-width: $md) {
    font-size: $text-5xl;
  }
}
